<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:insert="~{head.html}">
</head>
<body>
<div th:insert="~{navbar.html}"></div>
<div class="container col-6 mx-auto">
  <br>
    <div class="row">
      <div class="col-4">
        NAME:
      </div>
      <div class="col-8">
        <input class="form-control" type="text" th:value="${zat.getName()}">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        DESCRIPTION:
      </div>
      <div class="col-8">
        <input class="form-control" type="text" th:value="${zat.getDescription()}">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        PRICE:
      </div>
      <div class="col-8">
        <input class="form-control" type="number" th:value="${zat.getPrice()}">
      </div>
    </div>
</div>
</body>
</html>