<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="content">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addItem">
    ADD ITEM +
  </button>
  <!-- Modal -->
  <div class="modal fade" id="addItem" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <form action="/addItem" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-4">
                NAME:
              </div>
              <div class="col-8">
                <input type="text" class="form-control" name="name">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4">
                DESCRIPTION:
              </div>
              <div class="col-8">
                <input type="text" class="form-control" name="description">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4">
                PRICE:
              </div>
              <div class="col-8">
                <input type="number" class="form-control" name="price">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">ADD ITEM</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <th>ID</th>
    <th>NAME</th>
    <th>DESCRIPTION</th>
    <th>DETAILS</th>
    </thead>
    <tbody>
    <tr th:each="item : ${items}" th:if="${item.isExist()}"
        th:style="${item.getPrice()>500000 ? 'background-color:red' : 'background-color:green'}">
      <td th:text="${item.getId()}"></td>
      <td th:text="${item.getName()}"></td>
      <td th:text="${item.getDescription()}"></td>
      <td>
        <a th:href="${'/details/'+item.getId()}" class="btn btn-dark">DETAILS</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>

</html>