<div style="background-color: black;" class="p-2">
  <a href="#" style="display: block; color: white; text-decoration: none; margin: 5px">My profile</a>
  <a href="#" style="display: block; color: white; text-decoration: none; margin: 5px">My videos</a>
  <a href="#" style="display: block; color: white; text-decoration: none; margin: 5px">My news</a>
  <a href="#" style="display: block; color: white; text-decoration: none; margin: 5px">My music</a>
  <a href="#" style="display: block; color: white; text-decoration: none; margin: 5px">My games</a>
  <a href="#" style="display: block; color: white; text-decoration: none; margin: 5px">My groups</a>
  <a href="#" style="display: block; color: white; text-decoration: none; margin: 5px">My photos</a>
  <a href="#" style="display: block; color: white; text-decoration: none; margin: 5px">My calls</a>
</div>